/* applying font style in the body tag */
body {
    font-family: 'Open Sans', sans-serif;
}

/* nav bar style */
nav {
    display: flex
}

/* nav head styling */

.nav_title {
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: 45px;
    font-weight: 800;
}

.primary {
    color: #FD6E0A
}

nav>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul>li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.btn-color {
    background-color: #FD6E0A;
    width: 200px;
    height: 64px;
    border: 0px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 18px 35px;

}

nav {
    justify-content: space-between;
    align-items: center;
    margin: 0px 220px;
}

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pofile {
    width: 584px;
    height: 676px;
    padding-right: 0px;

}

.content {
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px;
    max-width: 500px;

    /* main-section style */

}

.hi {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;

    font-weight: 600;
}

.nav_title2 {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px
}

.section-title {
    color: #18181;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.para {
    color: #757575;

    font-size: 18px;


    line-height: 30px;
}

main {
    width: 1140px;
    margin: 0px auto
}

.container-r {
    display: flex;
    justify-content: space-around;
}
}

#what-i-do {
    padding: 30px 1t0px;
}

.skill {
    display: flex;
    gap: 24px;
}

.justify {
    text-align: justify
}

.skill_2 {
    justify-content: space-around;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 25px;
    color: #757575);


}

main>section {
    margin: 130px;
}

.resume-colum-title {
    color: #474747;

    font-size: 30px;

    font-weight: 700;


}